
.header__nav{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
}
.navbar{
    display: flex;
    gap: 4rem;
    padding: 1rem;
}
.dash{
    display: none;
}
.header__nav h1{
    margin: 0;
}
.header__nav a{
    text-decoration: none;
    color: black;
}
.icon{
    padding: 1rem;
    font-size: 1rem;
}
.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./assets/protfolio.jpg');
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    padding: 1rem;
    width: 95vw;
}
.Header button{
    width: max-content;
    border: solid rgb(0, 0, 0);
    background-color: transparent;
}
.dash{
    display: none;
}
.Header h1{
    margin: 0;
    font-size: 6vw;
 }
.Header h4{
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 1rem;
}
.first--section{
    display: flex;
    padding: 1rem;
    gap: 4rem;
    background-color: aliceblue;
}
.section__about{
    width: 83%;
}
.first--section h1{
    text-shadow: 2px 9px 5px grey;
}
.first--section button{
    background-color: #E8A03C;
    padding: 1rem;
}
.section__skills{
    text-align: center;
    padding: 1rem;
}
.section__skills p{
    width: 50%;
    margin: auto;
}
.section__data{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(2, 1fr);
}
.data__focus{
    grid-column: 2/3;
    grid-row: 1/5;
}
.prog__lang{
    display: flex;
    justify-content: center;
}
.data__progress{
    grid-column: 3/6;
    grid-row: 1/3;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    gap: 2px;
}
label{
    height: 22px;
    width: 4.5rem; 
    background-color: #c6c5c2;
}
progress{
    height: 22px;
    background-color: #cc9214;
}
progress {
    border: 1px solid #ccc;
}
progress::-webkit-progress-bar {
     background-color: #eee;
}
progress::-webkit-progress-value {
     background-color: #f1b560;
}
.box__container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding-bottom: 1rem;
}
.third--section h1{
    text-shadow: 2px 9px 5px grey;}
.box__container button{
    border: solid gray;
    box-shadow: 0px 7px 7px;
    height: 12rem;
    width: 18rem;
}   
.box1 button, .box3 button, .box5 button{
    background-color:#E79D40;
} 
.box1{
    grid-column: 2/2;
    grid-row: 1;
}
.box2{
    grid-column: 3/3;
    grid-row: 1;
}
.box3{
    grid-column: 4/5;
    grid-row: 1;
}
.box4{
    grid-column: 2/2;
    grid-row: 2;
}
.box5{
    grid-column: 3/3;
    grid-row: 2;
}
.box6{
    grid-column: 4/5;
    grid-row: 2;
}
.footer__container{
    display: flex;
    justify-content: space-around;
    background-color: #E69D36;
    padding: 1rem;
}
.button__contact{
    margin: auto;
}
.button__contact button{
    border: solid rgb(0, 0, 0);
    background-color: transparent;
    height: 3rem;
    width: 11rem;
    margin: auto;
}
.social__icons{
    padding: 3rem;
}
@media(max-width: 1200px){
    .dash{
        display: block;
        font-size: 2rem;
    }
    .navbar{
        display: none;
    }
    .Header__center{
        width: 100vw;
        height: 30vw;
    }
    .first--section{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0;
    }
    .box__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }
    .box1{
        grid-column: 2/2;
        grid-row: 1;
    }
    .box2{
        grid-column: 3/3;
        grid-row: 1;
    } 
    .box3{
        grid-column: 2/2;
        grid-row: 2;
    }
    .box4{
        grid-column: 3/3;
        grid-row: 2;
    }
    .box5{
        grid-column: 2/2;
        grid-row: 3;
    }
    .box6{
        grid-column: 3/3;
        grid-row: 3;
    }
    .footer__container{
        display: block;
        text-align: center;
    }
    .social__icons{
        padding-bottom: 0;
    }
    }
      @media(max-width: 900px){
    .info{
        padding: 0;
    }
    .Header__center{
        width: 95vw;
        height: 20vh;
    }
    }
    @media(max-width: 600px){
    .section__skills p{
        width: 88%;
    }
    .Header{
        width: 87vw;
        height: 30vh;
    }
    .section__data{
        display: block;
        text-align: center;
    }
    .box__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 2rem;
        place-items: center;
    }
    .box1{
        grid-column:1;
        grid-row: 1;
    }
    .box2{
        grid-column:1;
        grid-row: 2;
    } 
    .box3{
        grid-column:1;
        grid-row: 3;
    }
    .box4{
        grid-column:1;
        grid-row: 4;
    }
    .box5{
        grid-column:1;
        grid-row: 5;
    }
    .box6{
        grid-column:1;
        grid-row: 6;
    }
    }
    